/* TODO: Add sitewide styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: url(/blueprint.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  */
}

header {
    display: flex;
    background-color: #001f3f;
    padding: 2%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

nav {
    display: flex;
    background-color: #001f3f;
    padding: 2%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: auto;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

nav > button {
    background-color: white;
    width: auto;
    height: 40px;
    padding: 10px
}

button:hover {
    background-color: gray;
}

.link {
    text-decoration: none;
    font-size: small;
    font-weight: 500;
}

.logo {
    font-size: 4vh;
    color: white;
    height: auto;
    width: auto;
}

.logo:hover {
    cursor: pointer;
}

.nav-title {
    font-size: xx-large;
    font-weight: 600;
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    border: solid;
    padding: 20px;
    margin: 30px; 
    background-color: slategray;
    opacity: .9;
    text-decoration: none;
    color: white;
}

.card:hover{
    cursor: pointer;
}

.card-image {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto;
    border: 1px solid white;
}

a {
 text-decoration: none;   
}

.projectCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: azure;
    opacity: .7;
    color: black;
    height: 100vh;
}

.activeProjects {
    color: black;
    background-color: aliceblue;
    opacity: .7;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: auto;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.employeeCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: slategray;
}

.employeeCardBtns {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carouselIcon {
    font-size: xxx-large;
    
}

.home-buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20;
    margin-top: 40%;
}

.home-buttons > button {
    margin: 7px;
    height: 100px;
    width: 250px;
    align-self: center;
    background-color: slategray;
    opacity: .9;
    font-size: large;
    font-weight: bold;
}

.home-buttons > button:hover {
    cursor: pointer;
    background-color: azure;
    
}

.delete {
    background-color: #001f3f;
    color: azure;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

.confirm-delete {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


.confirm-delete > button:hover {
    cursor: pointer;
}

.addEmployeeBtn {
    font-size: larger;
    font-weight: bold;
    margin: 7px;
    height: 50px;
    width: 100px;
    align-self: center;
}